$Snow: rgb(255, 255, 255);
$Gray-0: rgb(236, 236, 236);
$Gray-1: rgb(229, 229, 229);
$Gray-2: rgb(220, 220, 220);
$Gray-3: rgb(161, 161, 161);
$Gray-4: rgb(51, 51, 51);
$Ocean: rgb(30, 67, 110);
$Danger: rgb(255, 0, 0);
