$SelectedBoxPrimary: rgb(229, 229, 229);
$SelectedBoxSecondary: rgb(50, 50, 50);
$BoxPrimary: rgb(236, 236, 236);
$BoxPrimaryFocus: white; // card background, body background
$BoxPrimaryHover: rgb(220, 220, 220);
$BoxSecondary: rgb(18, 84, 120);
$Border: rgb(185, 185, 185);
